
@{
	ViewBag.Title = "MemorialRideInfo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trevor Davies Memorial Ride</h2>
<div class="col-md-12">
	<p>Trevor "Woger Wabbit" Davies was our Co-Founder and a very good friend.</p>
	<p>Tragically we lost Trev in May 2016 and to honor him and his unquestioned dedication to ROWA, we hold a memorial ride for him in May..</p>
	<p>Trev and I met some years before we started ROWA through other groups. We both had bad experiences with these groups and saw some of them be torn apart by politics and internal bickering.</p>
	<p>After experiencing this we decided we wanted to start our own group, free from politics and suitable for everyone from all walks of life, on all types of bikes.</p>
	<p>Trev was loved by all and hated by none. It was impossible to be unhappy when you where around him and his carefree nature was infectious.</p>
	<p>He was a loving husband, a devoted father and a great friend!</p>
</div>
<div class="row">
	<div class="col-md-4">
		<img src="~/Images/trev_wave_rock.jpg" alt="broken_belt.jpg" class="img-width" />
	</div>
	<div class="col-md-4">
		<img src="~/Images/trev_bikes.jpg" alt="chain.jpg" class="img-width" />
	</div>
	<div class="col-md-4">
		<img src="~/Images/trev_table.jpg" alt="bike_in_shed.jpg" class="img-width"/>
	</div>
</div>
<br />
<img src="~/Images/trev.jpg" alt="working.jpg" width="500" class="center" />
<br />
<h1 class="center">He will always be missed but never be forgotten.</h1>

