@{
    ViewBag.Title = "About";
}
<h2>Riders of Western Australia</h2>

<div class="col-md-12">
	<p>
		Riders of Western Australia, or ROWA for short, is a group of motorcycling enthusiasts from all walks of life and on all types of bikes that get together for rides and to share their passion.
	</p>
	<p>
		ROWA was founded by Stewie Sutherland and the late Trevor "Woger Wabbit" Davis in 2012.
		Trevor and I started ROWA after some bad experiences with other groups.
		We decided we wanted a group that wasn't bike specific, free from politics and suitable to everyone.
	</p>
	<p>
		ROWA is not a club, association or organisation so there is no probation periods, joining fees, minimum requirement to join or any other rules you may find associated with clubs.
	</p>
	<p>
		We welcome everyone of all riding abilaties and pride ourselves on the experince and knowledge with have passed on to rookies and learners over the years.
		We have helped many learners gain experince and get their licenses and are more than happy to contiue helping people get into the wondful life of motorcycling.
	</p>
	<p>
		We invite anyone to join us and look forward to seeing you on a ride soon!
	</p>
	<p>
		<h2>**DISCLAIMER**</h2>
	</p>
	<p>
		Everyone is responsible for their own safety, and while we cannot control other motorists or road conditions, we can tell anybody who rides in a manner that is menacing, attracting the wrong attention or just plain dangerous to leave the group and feel free to never return. 
		MOTORCYCLE RIDING IS DANGEROUS and you ride with ROWA at your own risk.
	</p>
</div>
