@{
    ViewBag.Title = "Home Page";
}

<h2>Riders of Western Australia</h2>

<div class="col-md-12">
	<p>Welcome to Riders of Western Australia.</p>
	<p>To join please click the button below indicating you accept the Terms and Conditions.</p>
	<p>You will be redirected to our Facebook Page.</p>
	<p>TERMS AND CONDITIONS</p>
	<p><a href="https://www.facebook.com/groups/313568875504032/">I Agree!</a></p>
</div>