@{
    ViewBag.Title = "Home Page";
}

<h2>Riders of Western Australia</h2>

<div class="col-md-12">
	<p>Welcome to Riders of Western Australia.</p>
	<p>To join please go to the @Html.ActionLink("Terms of Membership", "Terms", "Terms") page.</p>
	<p>Once you have read the terms and click the link at the bottom to be redirected to the Facebook Page.</p>
</div>