<h3>You have been logged out successfully.</h3>

<text>Please click the below button to return to the home page.</text>

<br />

@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-primary" })