
@{
	ViewBag.Title = "RideInfo";
}

<h2>Broken Belt Ride</h2>

<div class="col-md-12">
	<p>In March 2013, ROWA set of to have an overnighter in Albany.</p>
	<p>Unfortunatly we would never make it.</p>
	<p>40 km's from Mount Barker and 300 km's from home, my final drive belt snapped.</p>
	<p>So now standing on the side of the Albany Highway in the pouring rain, I started making arrangements ti get the bike and myself back to Perth while the rest of the crew continued on.</p>
	<p>The rest of the crew were not allowing that. They refused to leave me there because we started together, they wanted us to finish together.</p>
	<p>Fortunately, I still had the original chain and sprockets in my shed at home. So my wife and step father loaded the car up and headed down to meet us.</p>
	<p>2 of the crew went on ahead to find somewhere for us to do the repair safely while I arranged a tow truck to get my bike there.</p>
	<p>They met the wonderful people at the Mount Barker Caravan Park who allowed us to turn their camp kitchen into a makeshift workshop for the night, where we stayed up until 2am the next morning making the repair.</p>
	<p>The next day we headed home and finished the ride together.</p>
	<p>This ride became the symbol of everything that ROWA is about and up holds our number 1 rule - NO ONE GETS LEFT BEHIND!</p>
	<p>In recognition of this we now hold the Broken Belt ride in March every year.</p>
	<p>We head back to stay with the awesome people at the Mount Barker Caravan Park and have some fun and laughs.</p>
</div>
<div class="row">
	<div class="col-md-6">
		<img src="~/Images/broken_belt.jpg" alt="broken_belt.jpg" class="img-width" />
	</div>
	<div class="col-md-6">
		<img src="~/Images/chain.jpg" alt="chain.jpg" class="img-width" />
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-6">
		<img src="~/Images/bike_in_shed.jpg" alt="bike_in_shed.jpg" class="img-width" />
	</div>
	<div class="col-md-6">
		<img src="~/Images/working.jpg" alt="working.jpg" class="img-width" />
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-12">
		<p>2 years later, on the 2015 BBR we decided that we should actually finish what we started and we did make it to Albany. Even if it was only for a coffee!</p>
		<img class="center-block img-width" src="~/Images/albany.jpg" alt="albany.jpg" />
	</div>
</div>
<div class="col-md-12">
	<h2>In 2019 we had our largest BBR turnout to date!</h2>
	<div class="row">
		<div class="col-md-6">
			<img src="~/Images/everyone_bbr.jpg" class="img-width" />
		</div>
		<div class="col-md-6">
			<img src="~/Images/sign_bbr.jpg" class="img-width" />
		</div>
	</div>
</div>