
@{
    ViewBag.Title = "RideInfo";
}

<h2>Broken Belt Ride</h2>

<div class="col-md-12">
	<p>The BBR (Broken Belt Ride) is a ride that ROWA goes on every year on the third weekend of March.</p>
	<p>It started x years ago with a trip to Albany, one of our members had just converted his bike to be belt driven instead of chain driven.</p>
	<p>About 50kms from Mount Barker the belt snapped and was limped to a caravan park in Mount Barker where they worked on the bike until 2 in the monring converting it back to a chain drive!</p>
	<p>Now every year to commerate that ride ROWA rides down to the Mount Barker Caravan Park.</p>
	<p>For more information please visit our <a href="https://www.facebook.com/groups/313568875504032/">Facebook Page</a>.</p>
</div>