
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Terms of Membership</h2>

<div class="col-md-12">
	<p>Membership always has and always will be free!</p>
	<p>By joining Riders of Western Australia you agree to the following terms:</p>
	<ul>
		<li>You are responsible for your own safety and ride with ROWA at your own risk</li>
		<li>You are expected to hold a valid and appropriate license and also be insured with a minimum of 3rd party</li>
		<li>We are not a club, association or organization. We a group for people to share their passion for motorcycles</li>
		<li>We accept people from all walks of life on all types of bikes</li>
		<li>You have a motorcycle that is capable of doing at least 100 kph</li>
		<li>You will uphold our moto <strong>"No one gets left behind!"</strong></li>
		<li>You understand that we welcome suggestions but the group leaders (Stewie)  decision is final</li>
		<li>You will not ride or act in a matter that is dangerous to other group members or that will being negative attention to the group</li>
		<li>We can't allow outlaw colors, patches or insignia to worn on rides or at events</li>
		<li>Failure to up hold these terms may see you being ejected from the group</li>
	</ul>
	<p>If you agree to these Terms of Membership please <a href="https://www.facebook.com/groups/313568875504032/">click here</a> to be redirected to our Facebook group.</p>
</div>

